In [1]:
import tushare as ts
import pandas as pd
import time
import os
from tenacity import retry, stop_after_attempt, wait_exponential
import logging

In [3]:
df = ts.pro_bar(ts_code='000001.SZ', adj='hfq', start_date='20180101', end_date='20181011',ma=[5,10,20])
df

/usr/local/anaconda3/envs/liy_common/lib/python3.10/site-packages/tushare/pro/data_pro.py:130: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data['adj_factor'] = data['adj_factor'].fillna(method='bfill')

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount,ma5,ma_v_5,ma10,ma_v_10,ma20,ma_v_20
0,000001.SZ,20181011,1085.71,1097.59,1047.90,1065.19,1128.92,-63.73,-5.65,1995143.83,1994186.611,1131.52,1570205.87,1137.24,1344378.76,1105.86,1068715.04
1,000001.SZ,20181010,1138.65,1151.61,1121.36,1128.92,1140.81,-11.89,-1.04,995200.08,1045666.180,1150.53,1347249.77,1141.35,1268019.25,1106.89,1027930.51
2,000001.SZ,20181009,1130.00,1155.93,1122.44,1140.81,1128.92,11.89,1.05,1064084.26,1117946.550,1156.15,1446312.44,1137.35,1281179.99,1106.78,1042987.60
3,000001.SZ,20181008,1155.93,1165.65,1128.92,1128.92,1193.74,-64.82,-5.43,1686358.52,1793455.283,1155.93,1428898.53,1127.95,1226479.79,1104.78,1025368.18
4,000001.SZ,20180928,1164.57,1217.51,1164.57,1193.74,1160.25,33.49,2.89,2110242.67,2331358.288,1160.68,1416530.51,1121.36,1119818.96,1103.05,1006593.51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,000001.SZ,20180108,1408.59,1412.85,1367.13,1377.76,1413.91,-36.15,-2.56,2158620.81,2806099.169,1414.76,2053506.79,NaN,NaN,NaN,NaN
183,000001.SZ,20180105,1404.34,1419.23,1397.96,1413.91,1408.59,5.32,0.38,1210312.72,1603289.517,NaN,NaN,NaN,NaN,NaN,NaN
184,000001.SZ,20180104,1416.04,1421.35,1395.84,1408.59,1417.10,-8.51,-0.60,1854509.48,2454543.516,NaN,NaN,NaN,NaN,NaN,NaN
185,000001.SZ,20180103,1459.62,1473.44,1403.28,1417.10,1456.43,-39.33,-2.70,2962498.38,4006220.766,NaN,NaN,NaN,NaN,NaN,NaN
186,000001.SZ,20180102,1419.23,1480.88,1416.04,1456.43,1413.91,42.52,3.01,2081592.55,2856543.822,NaN,NaN,NaN,NaN,NaN,NaN